.about {
    position: relative;
    padding: 5rem 0;

    &__wrapper {
        // display: flex;
        // flex-direction: column;
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        min-height: 1px;

        @media screen and (min-width: 768px){
            flex: 0 0 50%;
            max-width: 50%;
        }

        @media (min-width: 992px) {
            padding-left: 4rem;
            padding-right: 4rem;
        }

        &--order {
            order: 2;
            margin-top: 2rem;
            display: flex;
            align-items: center;

            @media screen and (min-width: 768px){
                margin-top: 0;
                order: 0;
            }
        }
    }

    &__image {
        max-width: 100%;
        display: block;
        height: auto;
        max-height: 600px;
        border-radius: 5px;

        // @media (min-width: 992px) {
        //     display: block;
        //     position: absolute;
        //     left: 0;
        // }
    }

    &__heading {
        width: 100%;
        margin: 1rem 0;

        &-text {
            color: #1e0e62;
            font-size: rem(48px);
            text-align: left;
        }
    }

    &__paragraph {
        margin: 1rem 0;
        margin-bottom: 2rem;

        @media screen and (min-width: 768px){
            margin-bottom: 5rem;
        }

        &-text {
            color: #4c5a6b;
            font-size: rem(24px);
            text-align: left;
        }
    }

    &__speciality {
        margin-top: 2rem;

        @media screen and (min-width: 768px){
            margin-top: 5rem;
        }

        &-heading {
            font-size: rem(24px);
            color: #1e0e62;
            text-align: left;
            margin-bottom: 1rem;
        }
    }

    &__list {
        // list-style-type: none;
        list-style-image: url("https://res.cloudinary.com/gopal1996/image/upload/v1612001817/Alphas9/Icon_Color_tjqv6a.svg");
        text-align: left;

        &:last-child {
            margin-top: 1rem;
        }

        @media screen and (min-width: 768px) {

            &:last-child {
                margin-top: 0;
            }
        }

        &-wrapper {
            margin-top: 1.5rem;
            padding-left: 15px;
            padding-right: 15px;

            @media screen and (min-width: 768px) {
                display: flex;
                justify-content: space-around;
            }
        }
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        span {
            color: #4c5a6b;
            font-size: rem(18px);
            // line-height: 10;
        }
    }

    &__icon {
        color: #482be7;
        width: rem(20px);
        height: rem(20px);
    }
}